@use "media";
@use "var";
@use "sass:map";
@use "sass:math";

.contacts {
	&__inner {
		padding: 60px var.$padding 100px;

		&.active .contacts__animation {
			opacity: 1;
			transform: none;
		}
	}

	&__animation {
		will-change: opacity, transform;
		transition:
			opacity 1s var.$easing-ease-in-out 0.3s,
			transform 1s var.$easing-ease-in-out 0.3s;
		opacity: 0;
		transform: translateY(20px);
		
		&.form__title {
			transition-delay: 0s;
		}
	}

	@include media.tablet-mini {
		&__inner {
			padding-bottom: 120px;
		}
	}

	@include media.desktop {
		&__inner {
			padding: 70px var.$padding-tablet 250px;
		}
	}
}
