@use "media";
@use "var";
@use "sass:map";
@use "sass:math";

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: inherit;
}

.absolute,
.fixed {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-none {
  pointer-events: none;
}

.o-hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  color: var.$color-button;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;

  &__container {
    border: 1px solid rgba($color: var.$color-button, $alpha: 0.12);
    border-radius: 500px;
    height: var.$size-btn;
    overflow: hidden;
    clip-path: inset(0 0 round 500px);
    will-change: border-color;
    transition: border-color map.get(var.$transition-duration, "default") var.$easing-ease;

    &::after {
      content: "";
      position: absolute;
      left: -15%;
      top: -25%;
      height: 150%;
      width: 130%;
      border-radius: 100%;
      background-color: rgba($color: var.$color-button, $alpha: 0.12);
      transform: translateY(96%);
    }

    &:not(&--icon) {
      padding: 0 19px;
    }

    &--icon {
      width: var.$size-btn;

      &::after {
        left: -30%;
        width: 160%;
      }
    }
  }

  &__items,
  &__container {
    position: relative;
    z-index: 2;
  }

  &__item,
  &__container::after {
    will-change: transform;
    transition: transform map.get(var.$transition-duration, "default") var.$easing-sine-in-out;
  }

  &__item {
    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(360%) rotate(30deg);
    }
  }

  &--light {
    color: var.$color-white-main;

    .btn {
      &__container {
        border-color: rgba(var.$color-white-main, 0.2);

        &::after {
          background-color: rgba(var.$color-white-main, 0.2);
        }
      }
    }
  }

  &--column {
    flex-direction: column;
    align-items: center;

    .btn__container {
      margin-top: 12px;
    }
  }
}

.link {
  will-change: opacity;
  opacity: var(--opacity, 0.75);
  transition: opacity map.get(var.$transition-duration, "default") var.$easing-linear;

  &.active {
    opacity: 1;
  }
}

.link-underline {
  position: relative;
  overflow: hidden;
  color: var.$color-blue-main;

  &--tel {
    color: var.$color-dark-second;

    &::after {
      transform: translateX(101%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    will-change: transform;
    transition: transform map.get(var.$transition-duration, "hover/active") var.$easing-ease;
  }
}

.title {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var.$color-title;
  text-align: center;
}

.title,
.subtitle {
  padding: 0 var.$padding;
  text-align: center;
  transform: scaleY(0);
  transform-origin: bottom;
  will-change: transform;
  transition: transform 1.6s var.$easing-back-out;
}

.subtitle {
  font-size: 19px;
  line-height: 1.3;
  color: var.$color-subtitle;
  margin: 0 auto 12px;
}

.lazy {
  background-color: var.$color-loader-background;
}

[loading] {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.3s var.$easing-sine-in-out;

  &.loaded {
    opacity: 1;
  }
}

.progress {
  position: absolute;
  top: 30px;
  left: 50%;
  height: 6.4px;
  width: 112px;
  background-color: rgba(#999999, 0.3);
  z-index: 9;
  transform: translateX(-50%);
  will-change: opacity;
  opacity: 0;
  --x: 0;
  transition: opacity map.get(var.$transition-duration, "show/hide") var.$easing-linear
    map.get(var.$transition-duration, "show/hide");

  &--active {
    opacity: 1;
  }

  &__line {
    left: -100%;
    background-color: #fff;
    will-change: transform;
    transform: translateX(calc(var(--x) * 1%));
  }
}

.form {
  max-width: 650px;
  margin: 0 auto;
  position: relative;

  &--submitted {
    .form__success {
      opacity: 1;
      visibility: visible;
    }
  }

  &--loading {
    .form__load {
      opacity: 0.5;
      visibility: visible;
    }
  }

  &__success,
  &__load {
    background-color: var.$color-body-background;
    z-index: 5;
    font-size: 32px;
    color: var.$color-blue-main;
    transition:
      opacity 0.2s var.$easing-linear,
      visibility 0.2s;
  }

  &__title {
    color: var.$color-blue-main;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    position: relative;
    font-size: 16px;

    &--btn {
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__input {
    padding: var.$padding-block-input var.$padding-input-inline;
    background-color: var.$color-input-background;
    width: 100%;
    min-height: var.$size-input-min-height;
    color: inherit;
    border-radius: 8px;
    caret-color: var.$color-blue-main;

    &--area {
      resize: vertical;
      scrollbar-width: thin;
      min-height: var.$size-input-min-height * 2;

      &::-webkit-scrollbar {
        display: block;
      }
    }

    &:focus,
    &.active {
      + .form {
        &__label {
          font-size: 0.9em;
          transform: none;
        }
      }
    }

    &.error {
      + .form {
        &__label {
          span {
            color: #c22424;
          }
        }
      }
    }
  }

  &__label {
    cursor: text;
    position: absolute;
    top: 0;
    left: var.$padding-input-inline;
    width: 100%;
    transform: translateY(math.div((var.$size-input-min-height - var.$padding-block-input), 2));
    line-height: 1;
    color: var.$color-label;
    background-color: var.$color-input-background;
    user-select: none;
    transition:
      font-size 0.15s var.$easing-ease,
      transform 0.15s var.$easing-ease;

    span {
      color: var.$color-blue-main;
    }
  }

  &__info {
    font-size: 12px;
    color: #545454;
    text-align: center;
    margin-top: 12px;

    a {
      text-decoration: underline var.$color-blue-main;
    }
  }
}

.btn {
  &-prev,
  &-next {
    width: 30%;
  }

  &-next {
    left: auto;
    right: 0;
  }
}

.btn-play {
  color: var.$color-white-main;
  position: absolute;
  width: 90px;
  height: 90px;
  font-size: 40px;
  border-radius: 90px;
  backdrop-filter: blur(13px);
  // background-color: rgba(var.$color-button, 0.1);
  will-change: transform;
  transition: map.get(var.$transition, "onClickScale");
  top: calc(50% - 45px);
  left: calc(50% - 45px);

  &:active {
    transform: scale(0.9);
  }

  &.playing {
    transform: scale(0);
  }
}

.gallery {
  max-width: 100%;
  margin: 0 auto;
  position: relative;

  &__container {
    display: flex;
    overscroll-behavior: contain;
    overflow: auto hidden;
  }

  &__item {
    user-select: none;
    flex-shrink: 0;
  }

  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    letter-spacing: -0.02em;
    color: #d8d8d8;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    will-change: clip-path;
    clip-path: inset(0% 100% 0% 0%);
    transition: clip-path 1.4s var.$easing-sine-in-out 0.2s;
  }

  &.active {
    .gallery__text {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}

.gradient-bg {
  position: absolute;
  background: var.$color-radial-gradient-main;
  pointer-events: none;
  z-index: -6;
  min-width: var.sizeVH(200);
  visibility: hidden;

  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.entered {
  .title,
  .subtitle {
    transform: scaleY(1);
  }
}

@include media.hover {
  .btn {
    &:hover,
    &--active {
      .btn {
        &__container {
          border-color: transparent;

          &::after {
            transform: translateY(0);
          }
        }

        &__item {
          &:first-child {
            transform: translateY(-360%) rotate(30deg);
          }

          &:last-child {
            transform: none;
          }
        }
      }
    }
  }

  .link {
    &:hover {
      opacity: 1;
    }
  }

  .link-underline {
    &:hover {
      &::after {
        transform: translateX(101%);
      }
    }
  }

  .link-underline--tel {
    &:hover {
      &::after {
        transform: translateX(0%);
      }
    }
  }
}

@include media.touch {
  .btn {
    &:active,
    &--active {
      .btn {
        &__container {
          border-color: transparent;

          &::after {
            transform: translateY(0);
          }
        }

        &__item {
          &:first-child {
            transform: translateY(-360%) rotate(30deg);
          }

          &:last-child {
            transform: none;
          }
        }
      }
    }
  }

  .link {
    &:active {
      opacity: 1;
    }
  }

  .link-underline {
    &:active {
      &::after {
        transform: translateX(101%);
      }
    }
  }

  .link-underline--tel {
    &:active {
      &::after {
        transform: translateX(0%);
      }
    }
  }
}

@include media.tablet-mini {
  .title {
    font-size: 62px;
  }
}

@include media.desktop {
  .btn {
    font-size: 16px;

    &__container {
      height: var.$size-btn-desktop;

      &:not(&--icon) {
        padding: 0 24px;
      }

      &--icon {
        width: var.$size-btn-desktop;
      }
    }
  }

  .title {
    font-size: 78px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .form {
    max-width: 820px;

    &__title {
      font-size: 32px;
      margin-bottom: 40px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__info {
      font-size: 16px;
      margin-top: 12px;
    }
  }
}
