@use "media";
@use "var";
@use "sass:map";

$portfolio-item-width: 232px;
$portfolio-item-width--tablet: 403px;

.portfolio {
	position: relative;

	&__gradient {
		top: -25%;
		left: 50%;
		transform: translateX(-50%);
		visibility: visible;
		z-index: 2;
	}

	&__gallery {
		padding: 60px 0 2vw;

		&.active {
			.portfolio__item {
				clip-path: inset(0);
			}
		}
	}

	&.entered {
		.portfolio {
			&__gradient {
				opacity: 1;
				visibility: visible;
				transition:
					opacity 1s var.$easing-linear,
					visibility 1s;
			}
			&__header {
				span,
				.btn__container {
					transform: none;
				}
			}
		}
	}

	&__container {
		padding: 0 calc($portfolio-item-width / 4);
		column-gap: 20px;
	}

	&__item {
		position: relative;
		width: $portfolio-item-width;
		will-change: clip-path;
		clip-path: inset(50% 0% 50% 0%);
		transition: clip-path 0.8s var.$easing-ease-in-out;

		&::after {
			content: "";
			display: block;
			padding-top: 101.25%;
		}
	}

	.gallery__item:nth-child(even) {
		.portfolio__item {
			&::after {
				padding-top: 67.25%;
			}
		}
	}

	&__title {
		font-size: 16vw;
	}

	@include media.tablet {
		&__gallery {
			padding-top: 120px;
		}

		&__container {
			padding: 0 calc($portfolio-item-width--tablet / 4);
			column-gap: 40px;
		}

		&__item {
			width: $portfolio-item-width--tablet;
		}
	}

	@include media.desktop {
		&__gallery {
			padding-bottom: 25px;
		}

		&__title {
			font-size: 205px;
		}
	}
}
.portfolio__gallery:not(.scrollbar) {
	.portfolio__container::-webkit-scrollbar {
		display: none;
	}
}

.scrollbar {
	.portfolio__title {
		bottom: 52px;
	}

	.portfolio__container {
		padding-bottom: 40px;
	}

	.portfolio__container::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}

	.portfolio__container::-webkit-scrollbar {
		height: 12px;
		background-color: transparent;
	}

	.portfolio__container::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(216, 216, 216, 1);
	}
}
