@use "media";
@use "var";
@use "sass:map";
@use "sass:math";

.process {
	.progress {
		top: 85px;
	}

	&__inner {
		position: relative;
		height: var.sizeVH(100);
		height: var.sizeSVH(100);
		min-height: var.$size-s-v-h-min;
		margin-top: 50px;
	}

	&__header {
		display: flex;
		align-items: stretch;
		padding: 15px 10px;
		position: relative;
		z-index: 2;
		background-color: rgba($color: #494949, $alpha: 0.1);
		backdrop-filter: blur(2px);
		backface-visibility: hidden;
	}

	&__call {
		display: none;
	}

	&__title {
		// padding: 0 5px 0 44px;
		margin: 0 5px 0 44px;
		flex-basis: 100%;
		font-size: 18px;
		text-align: center;
		line-height: 1.1;
		color: var.$color-white-main;
		font-weight: 400;
		position: relative;
	}

	&__voice {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 2px;
			border-radius: 2px;
			background-color: #fff;
			z-index: 6;
			will-change: width;
			transform: translate(-50%, -50%) rotate(45deg);
			transition: width map.get(var.$transition-duration, "show/hide") var.$easing-ease-in-out;
		}

		&.muted {
			&::before {
				width: 0;
			}
		}
	}

	&__cover {
		height: 100%;
		z-index: 2;
	}

	&__footer {
		position: absolute;
		z-index: 3;
		bottom: 0;
		left: 0;
		width: 100%;
		color: #ebebeb;
		padding: 0 5px;
		font-weight: 400;
		user-select: none;
	}

	&__counter {
		display: flex;
		flex-direction: column;
		align-items: center;
		// position: relative;
		font-size: 240px;
		line-height: 0.8;
		// min-width: 200px;
		position: absolute;
		bottom: 0;
		left: 50%;

		span {
			position: absolute;
		}
	}

	&__buttons {
		display: none;
	}

	@include media.tablet-mini {
		&__counter {
			left: 0;

			span {
				left: 0;
			}
		}

		&__buttons {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			// font-size: 64px;
			font-size: 55px !important;
		}

		&__button {
			// padding: 0 10px;
			padding: 0 5px;
			color: var.$color-white-main;
			--opacity: 0.5;
			letter-spacing: -0.02em;
		}
	}

	@include media.tablet {
		&__inner {
			margin-top: 100px;
		}

		&__call {
			display: inline-flex;
			flex-shrink: 0;
		}

		&__title {
			// padding: 0 132px 0 5px;
			margin: 0 132px 0 5px;
		}

		&__counter {
			left: 50%;

			span {
				left: auto;
			}
		}
	}

	@include media.desktop {
		&__title {
			font-size: 24px;
		}

		&__counter {
			font-size: 300px;
		}

		&__buttons {
			font-size: 80px;
		}
	}
}
